
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;600;800;900&display=swap');

body{
    margin: 0;
    font-family: 'Public Sans', sans-serif;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
hr {
    margin: 0;
    padding: 0;
}

img{
    width: 100%;
    height: auto;
}

.container-width{
    max-width: 1439px;
    margin: 0 auto;
}


/* display  */

.flex{
    display: flex;
}

.grid{
    display: grid;
}

.flex-column{
    flex-direction: column;
}

.justify-between {
    justify-content: space-between;
}


.align-center {
    align-items: center;
}


.relative {
    position: relative;

}

.absolute {
    position: absolute;
}


.contain{
    object-fit: cover;
}


.gap-15{
    gap: 15px;
}
.gap-12{
    gap: 12px;
}
.gap-40{
    gap: 40px;
}


/* background- colors  */
.bg-sky{
    background-color: #037fff;
    ;
}
.bg-blue{
    background-color: #9e03ff;

}
.bg-indigo{
    background-color: #5a17f2;

}
.bg-orange {
    background-color: #f26317;

}
.bg-green{
    background-color: #7eba37;

}
.bg-purple{
    background-color: #bb17c9;

}

/* text-color */
.white{
    color: white;
}
.grey{
    color: rgba(19, 5, 65, 0.5);

}
.blue{
  color: #037fff;
  font-weight: 500;

}

/* font size  */
.font-30{
    font-size: 30px;
}
.font-28{
    font-size: 28px;
}
.font-24{
    font-size: 24px;
}
.font-22{
    font-size: 22px;
}
.font-20{
    font-size: 20px;
}
.font-18{
    font-size: 18px;
}
.font-16{
    font-size: 16px;
}
.font-14{
    font-size: 14px;
}
.font-12{
    font-size: 12px;
}

.bold{
    font-weight: bold;
}
.top-area {
    height: 72px;
    margin-top: 16px;
    box-shadow: 0 8px 8px -2px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}

.burger >div:nth-child(1){
    width: 30px;
    height: 2.5px;
    margin: 0 0 7.5px;
    background-color: #191919;
}
.burger >div:nth-child(2){
    width: 28px;
    height: 2.5px;
    margin: 7.5px 2px 7.5px 0;
    background-color: #191919;
}
.burger >div:nth-child(3){
    width: 26px;
  height: 2.5px;
  margin: 7.5px 4px 0 0;
  background-color: #191919;
}
.logo-img{
    height: 41.2px;
}

.logo{
    gap: 20px;
}
.menu{
    gap: 30px;
}
.social{
    gap: 40px;
}
.social-icon{
    gap: 20px;
}
.subscribe-button{
    width: 116px;
    height: 36px;
    
    padding: 9px 18px 8px 23px;

    border-radius: 4px;
    background-color: #130541;
    color: #ffff;
    font-size: 16px;
    font-weight: normal;
}


/* hero section  */

.hero{
    margin-top: 32px;
}

.hero-post{
    display: grid;
    gap: 15px;
    grid-template-areas: 
    "post-one post-two "
    "post-one post-three ";
    
}
.h-w{
    height: 100%;
    width: 100%;
}
.h-w-25{
    height: 25px;
    width: 25px;
}

.hero-post-1{
    grid-area: post-one;

    
}
.hero-post-2{
    grid-area: post-two;
}

.hero-post-3{
    grid-area: post-three;
    justify-content:stretch;
    gap: 15px;
}

.post-inside {
    bottom: 20px;
    left: 35px;

    
}
.post-inside >h3 {
    color: #fff;
    font-weight: bold;
}


.author{

  gap: 15px;
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.hero-author{
  gap: 15px;
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.author >img{
    width: 14px;
  height: 15px;
  
  border-radius: 12.5px;
  
 
}
.hero-author>img{
    width: 25px;
    height: 25px;
    border-radius: 12.5px;
}


.category{
    width: fit-content;
   height: auto;
    
    margin-bottom: 20px;
    padding: 5px 13px 4px ;
    border-radius: 11.5px;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}


/* post ad  */
.post-ad{

}
.post-ads{
    
 
    margin: 60px 0;
  padding: 30px;
  border-radius: 6px;
  border: solid 2px rgba(3, 127, 255, 0.3);
  background-color: rgba(3, 127, 255, 0.05);
}
.single-ad{
    justify-content: space-between;
   
    height: 109px;

   
}
.single-ad >img{
    width: 115px;
    height: 115px;
    margin: 0 22px 0 0;
    border-radius: 6px
}

.author-color{

}

/* post grid  */

.gallery{
    grid-template-columns: 1fr 1fr 309px;
    gap: 77px;
    height: auto;
}


hr {
    border: none;
    height: 1px;
    background-color: rgba(3, 127, 255, 0.25)
}
.clicked{
    border: none;
    height: 3px;
    margin: 21px 0;
    background: linear-gradient(to right,#007BFF 25%, #08080866 50%);
}
.gallery-1{
    
}

/* .gallery-3{
    width: 309px;
} */
.follow-social{
    flex-wrap: wrap;
    gap: 15px;
    
    

}
.follow-social>p{
color: white;
padding: 10px 16px;
font-size: 11px;
border-radius: 13.5px;

}

.mar-30{
    margin-bottom: 30px;
}

.popular-post{
    width: fit-content;
    height: auto;
    margin-left: -10px;
    margin-top: -10px;
    padding: 35px 45px 32px 31px;
    border-radius: 6px;
    border: solid 2px rgba(3, 127, 255, 0.25);
    background-color: #fff;
}
.popular-head{
    margin: 0 0 28px 0;
}
.border-2{
    
    width: fit-content;
    margin-top: 50px;
    padding-right: 8px;
    
    padding-bottom: 8px;
    border-radius: 6px;
    border: solid 2px rgba(3, 127, 255, 0.25);
}
.popular-sep{
    border: none;
    height: 2px;
    margin-bottom: 16px;
    background-color: rgba(19, 5, 65, 0.16);
}


/* ad  */
.ad-section{
   
}
.ad{
    margin:80px 150px;
    background-color: #0351ff;
    padding: 20px;

}
.ad-img{
    width: 95.6px;
    height: 34.6px;
}
.ad-content{
    border: solid 4px rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.03); 
 
  padding: 40px 348px 47px 45px;
}

.btn-border{
    width: 166px;
    height: 58px;
    padding: 7px;
    border-radius: 4px;
    background-color: #fff;
}
.download-btn{
    width: 152px;
  height: 44px;
    padding:;
    border-radius: 4px;
    border: solid 3px #037fff;
    text-align: ;
}


.latest{
    grid-template-columns: 1fr 309px;
    gap: 61px;
}
.latest-content>p{
    font: 20px;
}

.latest-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 39px;
}


.cate-head{
    margin-top: 50px;
    margin-bottom: 50px;
} 
.side-ad{
    background-color: rgba(255, 255, 255, 0.1);
}
